  <!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3> your Name is <%= @contact.name %> </h3>
  <h4> your Phone Number is <%= @contact.phone %></h4>
  <h5> Your Email Adress is : <%= @contact.email %></h5>
  <h6> your Message: <%= @contact.message %></h6>
  <p>
    Virtual plant
  </p>
</body>
</html>